#calculator{
  border: 1px solid rgb(177, 166, 166);
  border-radius: 5px;
  width: 200px;
}


#display{
  margin: 10px;
  width: 85%;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  height: 45px;
  width: 45px;
  margin: 3px;

}